.Recievepay-Container{
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 15px;
    
}
.amount{
    text-align: center;

}
.report-recieve{
    border-right: 5px solid greenyellow;
    color: greenyellow;
    
}
.report-pay{
    border-right: 5px solid red;
    color: red;

}
.Reciver{
    color: greenyellow;
}
.pay{
    color:red
}
.fontrec{
    color: blue;
    text-align: center;
}
