@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Climate Crisis', cursive;
}

body{
  background-color: whitesmoke;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 0;
}

.container{
  margin: 30px auto;
  width: 350px; 
}
.index-module_type__E-SaG{
  padding-left: 50px;
}
.btnshow{
  align-items: center;
  display: flex;
  margin-left: 50px;
  padding-left: 55px;
}
.horizontial-menu{
  list-style-type: none;
  overflow: hidden;
  background-color: navajowhite;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
}
